!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    
    %title Server Status Page - Eos
    
    %meta{:name => 'description', :content => 'Status page for Eos: a friendly server.'}
    %meta{:author => 'Alex Pearce'}
    
    %link{:rel => 'stylesheet', :href => 'css/eos.css'}
    
  %body
  
    .center.err
  
      %h1 404
    
      .box
        %h2 File Not Found
      
        %p We couldn't find what you were looking for. Please get in touch if you think something should be here.
        
        .contact
          %a.simple-button.pink{:href => "mailto:webmaster@alexpearce.me"} Contact