!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    
    %title 500 Forbidden
    
    %meta{:name => 'description', :content => 'Portfolio of PHP and Ruby on Rails web developer Alex Pearce.'}
    %meta{:author => 'Alex Pearce'}
    
    %link{:rel => 'stylesheet', :href => 'css/alexpearce.me.css'}
    
    %script{:src => 'js/libs/modernizr.js'}
    
  %body
  
    #container
      
      #server-code
        %h1 Internal Server Error
        %p Seems the server rabbit has chewed through one too many cables.
        %p I'm just putting him away (for now). Try again in a little bit.
      
      %footer
        &copy; Alex Pearce

    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'}
    %script
      !window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery.js"%3E%3C/script%3E"'))

    %script{:src => 'js/cufon-archer.js'}

    %script{:src => 'js/lightbox.js'}
    %script{:src => 'js/alexpearce.me.js'}