!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    
    %title Server Status Page - Eos
    
    %meta{:name => 'description', :content => 'Status page for Eos: a friendly server.'}
    %meta{:name => :author, :content => 'Alex Pearce'}
    
    %link{:rel => 'stylesheet', :href => 'css/eos.css'}
    
  %body
  
    .center
  
      %h1 Eos
    
      .box
        %h2 Server Status
      
        %table
          %tr
            %th Service
            %th Status
          %tr
            %td SQL Server
            %td
              - if postgres_up == true
                %img{:src => 'img/tick.png', :alt => 'Online'}
              - else
                %img{:src => 'img/cross.png', :alt => 'Online'}
          %tr
            %td Uptime
            %td
              = uptime
              %span.units days
          %tr
            %td Used Memory
            %td
              = used_memory
              %span.units MB
          %tr
            %td Load Average
            %td
              = load_average
              %span.units %
      
        %p This Eos's status page, where you can monitor a handful of vital signs for the <abbr title="Virtual Private Server">VPS</abbr> that hosts <a href="http://alexpearce.me">AlexPearce.me</a>, amongst other things.
        
        .contact
          %a.simple-button.pink{:href => "mailto:webmaster@alexpearce.me"} Contact