!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    
    %title Server Status Page - Selene
    
    %meta{:name => 'description', :content => 'Status page for Selene: a friendly server.'}
    %meta{:author => 'Alex Pearce'}
    
    %link{:rel => 'stylesheet', :href => 'css/selene.css'}
    
    %script{:src => 'js/libs/modernizr.js'}
    
  %body
  
    #center
  
      %h1 Selene
    
      #box
        %h2 Server Status
      
        %table
          %tr
            %th Service
            %th Status
          %tr
            %td SQL Server
            %td
              %img{:src => 'img/cross.png'}
          %tr
            %td Uptime
            %td
              = uptime
              %span.units days
          %tr
            %td Used Memory
            %td
              = used_memory
              %span.units MB
          %tr
            %td Load Average
            %td
              = load_average
              %soan.units %
      
        %p This Selene's status page, where you can monitor a handful of vital signs for the <acronym title="Virtual Private Server">VPS</acronym> that hosts AlexPearce.me, amongst other things.
        
        %form{:action => 'mailto:webmaster@alexpearce.me', :method => :get}
          .simple-button.green
            %input{:type => 'submit', :value => 'Contact'}

    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'}
    %script
      !window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery.js"%3E%3C/script%3E"'))

    %script{:src => 'js/selene.js'}